:root {
  font-family: 'Shantell Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    'BNCE' 0,
    'INFM' 0,
    'SPAC' 0;
  text-align: center;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  /* background-color: #ff75d6; */
  --primary-bg: #fcfbf7;
  --light-bg: #bfbbae;
  --font-color: #717171;
  --link-color: #048a11;
  --orange: #e3491a;
  --middle-orange: #f77851;
  --light-orange: #f9cbbd;
  --tan: #9a946f;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--primary-bg);
}

.headers {
  font-size: 1.25rem;
  font-family: 'Shantell Sans', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--orange);
  font-variation-settings:
    'BNCE' 0,
    'INFM' 0,
    'SPAC' 0;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.nunito {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-content {
  display: block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input {
  display: block;
  width: min-content;
  outline: none;
  /* border: none; */
  border-bottom: 2px solid grey;
  background: white;
  color: black;
}

::backdrop {
  opacity: 70%;
}

body {
  max-width: min(90%, 80rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

dialog {
  background-color: var(--light-bg);
  border: none;
  border-radius: 10px;
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--middle-orange);
  cursor: pointer;
  transition: border-color 0.1s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
