:root {
  font-family: 'Shantell Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    'BNCE' 0,
    'INFM' 0,
    'SPAC' 0;
  text-align: center;

  color: rgb(0, 0, 0);
  --primary-bg: #fcfbf7;
  --light-light-bg: #fbf8ea;
  --light-bg: #d5cfba;
  --font-color: #717171;
  --link-color: #048a11;
  --orange: #e3491a;
  --middle-dark-orange: #f66538;
  --middle-orange: #f77851;
  --light-middle-orange: #fdc1af;
  --light-orange: #f9cbbd;
  --tan: #9a946f;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--primary-bg);
}

.headers {
  font-size: 1.25rem;
  font-family: 'Shantell Sans', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--orange);
  font-variation-settings:
    'BNCE' 0,
    'INFM' 0,
    'SPAC' 0;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.nunito {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-content {
  display: block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  width: fit-content;
  align-items: start;
  margin: auto;
}

input,
textarea {
  /* display: block; */
  width: min-content;
  outline: none;
  border: none;
  line-height: 1.5rem;
  border-radius: 4px;
  border-bottom: 2px solid grey;
  background: white;
  color: black;
}

::backdrop {
  opacity: 70%;
}

body {
  max-width: min(90%, 80rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

dialog {
  background-color: var(--light-bg);
  border: none;
  border-radius: 10px;
  color: black;
}

#edit-item-dialog {
  min-width: 17rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--middle-orange);
  color: white;
  cursor: pointer;
  transition: background-color 0.13s;
  width: fit-content;
}
button:hover {
  background-color: var(--middle-dark-orange);
}
button:active {
  background-color: var(--orange);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.danger {
  background-color: rgb(255, 53, 53);

  &:hover {
    background-color: rgb(186, 39, 39);
  }
}

button:disabled {
  background-color: var(--light-middle-orange);
}

.close-button {
  align-self: end;
  position: fixed;
  height: 30px;
  width: 30px;
  padding: 0;
}

.image-edit-button {
  background-color: #b1b1b1;
  position: absolute;
  height: 25px;
  width: 25px;
  padding: 0;

  &:hover {
    background-color: #a0a0a0;
  }
}

.preview-image.selected {
  outline: 2px solid var(--middle-orange);
}

.item-preview {
  cursor: pointer;
  background-color: var(--primary-bg);
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.13s;

  &:hover {
    background: var(--light-light-bg);
  }
}

.details-overlay {
  position: absolute;
  top: 50px; /* leave space for navbar */
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  padding: 1rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
}

.item-preview-wrapper {
  background-color: var(--primary-bg);
  padding: 5px;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 70%;
}
